In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\hp\miniconda3\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

In [8]:
data={'Name':['Ram','AA'],'Age':[23,24],'Address':['Indore','Bhopal']}
df=pd.DataFrame(data)
df

  Name  Age Address
0  Ram   23  Indore