#### Date Time Serise In Pandas

In [1]:
import pandas as pd

data = {
    'Order_ID': [101, 102, 103],
    'Order_Date': ['2023-07-01', '2023-07-05', '2023-07-10']
}

df = pd.DataFrame(data)
df

   Order_ID  Order_Date
0       101  2023-07-01
1       102  2023-07-05
2       103  2023-07-10

In [3]:
df.dtypes

Order_ID       int64
Order_Date    object
dtype: object

In [4]:
# Convert to datetime
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df

   Order_ID Order_Date
0       101 2023-07-01
1       102 2023-07-05
2       103 2023-07-10

In [5]:
df.dtypes

Order_ID               int64
Order_Date    datetime64[ns]
dtype: object

In [13]:
df['Year']=df['Order_Date'].dt.year
df['Month']=df['Order_Date'].dt.month
df['Day']=df['Order_Date'].dt.day
df['WeekDay']=df['Order_Date'].dt.day_name()
df

   Order_ID Order_Date  Year  Month  Day    WeekDay
0       101 2023-07-01  2023      7    1   Saturday
1       102 2023-07-05  2023      7    5  Wednesday
2       103 2023-07-10  2023      7   10     Monday

In [19]:
# pd.date_range()

dates = pd.date_range(start='2025-01-01', end='2025-08-07',freq='D')
df_calendar = pd.DataFrame({'Date': dates})
df_calendar.head(30)

C:\Users\HP\AppData\Local\Temp\ipykernel_25084\2970132778.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start='2025-01-01', end='2025-08-07',freq='M')

        Date
0 2025-01-31
1 2025-02-28
2 2025-03-31
3 2025-04-30
4 2025-05-31
5 2025-06-30
6 2025-07-31

In [16]:
df_calendar.head()

        Date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05