#### NumPy Array Iteration Â

In [1]:
import numpy as np

In [6]:
li=[10,20,30,40]
ii=iter(li)
print(next(ii))
print(next(ii))
print(next(ii))
print(next(ii))

10
20
30
40

In [4]:
for i in li:
    print(i)

10
20
30
40

In [7]:
ar=np.array([[1,2,3],
             [10,20,30]])
print(ar)

[[ 1  2  3]
 [10 20 30]]

In [12]:
ii=np.nditer(ar)
print(next(ii))
print(next(ii))

1
2

In [13]:
for i in ii:
    print(i)

3
10
20
30

In [17]:
for i in ii:
    print(i)

In [18]:

a = np.array([[1,2,3,4],
              [2,4,5,6],
              [10,20,39,3]])  
print("Printing the array:")  
print(a)

Printing the array:
[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

In [19]:
print("Printing the transpose of the array:")  
at = a.T  
print(at)

Printing the transpose of the array:
[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

In [21]:
#this will be same as previous   
for x in np.nditer(at):  
    print(x,end=' ')

1 2 3 4 2 4 5 6 10 20 39 3

In [22]:
for x in np.nditer(a):  
    print(x,end=' ')

1 2 3 4 2 4 5 6 10 20 39 3

In [23]:
#sorting transpose array in c-style order
c=at.copy(order='C')
print(c)

[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

In [24]:
#itrate with col wise
for x in np.nditer(a):  
    print(x,end=' ')

1 2 3 4 2 4 5 6 10 20 39 3

In [25]:
#itrate with row wise
for x in np.nditer(c):
    print(x,end=' ')

1 2 10 2 4 20 3 5 39 4 6 3

In [26]:
#sorting transpose array in c-style order
d=at.copy(order='F')
print(d)

[[ 1  2 10]
 [ 2  4 20]
 [ 3  5 39]
 [ 4  6  3]]

In [29]:
#itrate with row wise
for i in np.nditer(d):
    print(i,end=' ')

1 2 3 4 2 4 5 6 10 20 39 3

In [30]:
import numpy as np  
a = np.array([[1,2,3,4],[2,4,5,6],[10,20,39,3]])  
print("\nPrinting the original array:\n")  
print(a)

Printing the original array:

[[ 1  2  3  4]
 [ 2  4  5  6]
 [10 20 39  3]]

In [32]:
# print("\nIterating over the modified array\n")  
#without flag
for x in np.nditer(a):  
    x[...] = 3 * x;  
    print(x,end = ' ')

ValueError: assignment destination is read-only

In [33]:
# using op_flags = ['readwrite']

for x in np.nditer(a,op_flags = ['readwrite']):  
    x[...] = 3 * x;  
    print(x,end = ' ')

9 18 27 36 18 36 45 54 90 180 351 27

In [34]:
print(a)

[[  9  18  27  36]
 [ 18  36  45  54]
 [ 90 180 351  27]]